.top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between; /* Sol ve sağa hizalama */
    align-items: center; /* Dikey merkezleme */
    padding-left: 20px; /* İsteğe bağlı sol boşluk */
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 20px;
}
.top h1{
font-size: 20px;
}
.cart-icon {
    font-size: 24px; /* İkon boyutu */
    cursor: pointer;
    margin-right: 20px;
}
